# Data Understanding
* Explain the hierarchy here
* describe real, simulated and drawn
* Summarise it from Data Characterisation and Exploratory Data Analysis

## Data Characterisation
Preprocessing a dataset through data characterisation involves summarising the features and characteristics present in the data using statistical measures and visualisations techniques such as bar charts and scatter plots. After this stage, it should be possible to identify biases, patterns, trends, and any missing or irrelevant data in the data set that may need to be addressed.

The data consists of over 50 million observations, with 12 columns of data for each observation. The first column, `label`, indicates the event type for each observation. The second column, `well`, contains the name of the well the observation was taken from. Hand-drawn and simulated instances have fixed names for in this column, while real instances have names masked with incremental id. The third column, `id`, is an identifier for the observation and it is incremental for hand-drawn and simulated instances, while each real instance has an id generated from its first timestamp. The remaining columns contain various readings, including:

* timestamp: observations timestamps loaded into pandas DataFrame as its index;
* P-PDG: pressure variable at the Permanent Downhole Gauge (PDG);
* P-TPT: pressure variable at the Temperature and Pressure Transducer (TPT);
* T-TPT: temperature variable at the Temperature and Pressure Transducer (TPT);
* P-MON-CKP: pressure variable upstream of the production choke (CKP);
* T-JUS-CKP: temperature variable downstream of the production choke (CKP);
* P-JUS-CKGL: pressure variable upstream of the gas lift choke (CKGL);
* T-JUS-CKGL: temperature variable upstream of the gas lift choke (CKGL);
* QGL: gas lift flow rate;
* class: observations labels associated with three types of periods (normal, fault transient, and faulty steady state).

The pressure features are measured in Pascal (Pa), the volumetric flow rate features are measured in standard cubic meters per second (SCM/s), and the temperature features are measured in degrees Celsius (Â°C). The `class` labels can be used to identify periods of normal operation, fault transients, and faulty steady states, which can help with diagnosis and maintenance.

In [1]:
import pandas as pd
df = pd.read_csv('3Wdataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50822124 entries, 0 to 50822123
Data columns (total 12 columns):
 #   Column      Dtype
---  ------      -----
 0   label       int64
 1   well        object
 2   id          int64
 3   P-PDG       float64
 4   P-TPT       float64
 5   T-TPT       float64
 6   P-MON-CKP   float64
 7   T-JUS-CKP   float64
 8   P-JUS-CKGL  float64
 9   T-JUS-CKGL  float64
 10  QGL         float64
 11  class       float64
dtypes: float64(9), int64(2), object(1)
memory usage: 4.5+ GB

In [4]:
df.head()

,label,well,id,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class
0,0,WELL-00001,20170201020207,0.0,10092110.0,119.0944,1609800.0,84.59782,1564147.0,NaN,0.0,0.0
1,0,WELL-00001,20170201020207,0.0,10092000.0,119.0944,1618206.0,84.58997,1564148.0,NaN,0.0,0.0
2,0,WELL-00001,20170201020207,0.0,10091890.0,119.0944,1626612.0,84.58213,1564148.0,NaN,0.0,0.0
3,0,WELL-00001,20170201020207,0.0,10091780.0,119.0944,1635018.0,84.57429,1564148.0,NaN,0.0,0.0
4,0,WELL-00001,20170201020207,0.0,10091670.0,119.0944,1643424.0,84.56644,1564148.0,NaN,0.0,0.0

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
label,50822124.0,3.387997e+00,2.526282e+00,0.000000e+00,1.000000e+00,4.000000e+00,5.000000e+00,8.000000e+00
id,50822124.0,5.536792e+12,9.000317e+12,1.000000e+00,4.300000e+01,1.290000e+02,2.014032e+13,2.018062e+13
P-PDG,50816249.0,-4.923179e+39,7.606369e+40,-1.180116e+42,1.161616e+07,2.189268e+07,2.605564e+07,4.485805e+07
P-TPT,50815940.0,1.467257e+07,4.379132e+07,0.000000e+00,1.099830e+07,1.452439e+07,1.755830e+07,2.941990e+09
T-TPT,45011148.0,1.044371e+02,2.727372e+01,0.000000e+00,9.697665e+01,1.167546e+02,1.217072e+02,1.277401e+02
P-MON-CKP,49700496.0,3.587708e+06,3.354934e+06,-8.317492e+03,1.186575e+06,1.963778e+06,5.116738e+06,1.303717e+07
T-JUS-CKP,49210426.0,7.559043e+01,2.147815e+01,-2.020000e+00,6.702149e+01,7.735565e+01,8.478074e+01,1.730961e+02
P-JUS-CKGL,10007488.0,4.052477e+06,5.221975e+06,-4.976717e+05,2.312238e+06,2.332198e+06,3.430441e+06,2.106982e+07
T-JUS-CKGL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QGL,10691260.0,1.694197e-01,4.591983e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.146513e+00
class,50817363.0,2.909494e+01,4.440501e+01,0.000000e+00,1.000000e+00,5.000000e+00,1.010000e+02,1.080000e+02

In order to maintain the realistic aspects of the data, the dataset was extracted without preprocessing, including the presence of NaN values, frozen variables due to sensor or communication issues, instances with varying sizes, and outliers (R.E.V. Vargas, et al. 2019).
 
The .isnull().sum() method indicates that there are no missing values in any of the columns. The describe() method provides some basic descriptive statistics for the data. It appears that the data has already been pre-processed, as the range of the auction duration is from 0 to 10 and the range of the other numerical features is from 0 to 1. There are no duplicated values in the dataset, as indicated by the following line.

## Exploratory Data Analysis